.display_img {
    display: flex;
    flex-wrap: wrap;
    
}

.display_img > div {
    margin: 30px;
    padding: 20px;
}

.para{
    text-align: center;
    background-color: #b7d7e8;
    border-radius: 8px;
    
}

.Product_heading {
    text-align: center;
    text-decoration:underline;
}
